@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1A0B2E;
    font-family: "inter", sans-serif;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 200px;
}
.logo img{
    width: 100%;
}
header ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;

}
header ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    
}
header button {
    border: none;
    padding: 13px 16px;
    border-radius: 100px;
    font-weight: 600;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background: linear-gradient(45deg,rgba(247, 233, 63, 1) 0%, rgba(145, 0, 248, 1) 50%, rgba(251, 9, 180, 1) 100%);
    background-size: 200% 100%;
    background-position: left center;
    transition: background-position 0.5s ease-in-out;
}
header button:hover {
background: linear-gradient(45deg,rgba(145, 0, 248, 1) 0%, rgba(251, 9, 180, 1) 50%, rgba(247, 233, 63, 1) 100%);
color: rgb(83, 76, 76);
 background-position: right center;
transition: background-position 0.5s ease-in-out;
background-size: 200% 100%;
}
.menubar {
    color: white;
    display: none;
}



/* small device responsive */
@media screen and (max-width: 576px) {
    
    header
     {
        padding: 16px 20px;
     }
    
    header ul, header button {
display: none;
    }
    .menubar {
        display: inline;
        font-size: 1.2rem;
    }
}



/* medium device responsive */

@media screen and (min-width: 576px) and (max-width: 992px) {
    header {
            padding: 16px 20px;
    }
    header ul li a {
        font-size: 0.8rem;
    }
    header button {
        font-size: 0.8rem;
        padding: 8px 12px;
    }
}